*.lst
*.map
*.axf
*.htm
*.d
*.o
*.dep
*.crf
*.lnp
*.s
*.uvguix.skizo
*.uvoptx
*.ini
*.uvprojx
blinky_v1/Listings/
blinky_v1/Objects/
blinky_v1/RTE/
blinky_v2/Listings/
blinky_v2/Objects/
blinky_v2/RTE/
blinky_v3/Listings/
blinky_v3/Objects/
blinky_v3/RTE/
Debug/Listings/
Debug/Objects/
Debug/RTE/
Output_Compare/Listings/
Output_Compare/Objects/
Output_Compare/RTE/
Systick-Basic/Listings/
Systick-Basic/Objects/
Systick-Basic/RTE/
Systick-Delay/Listings/
Systick-Delay/Objects/
Systick-Delay/RTE/
Systick-stcurrent/Listings/
Systick-stcurrent/Objects/
Systick-stcurrent/RTE/
TPM0_Delay/Listings/
TPM0_Delay/Objects/
TPM0_Delay/RTE/
TPM0_Delay_5s/Listings/
TPM0_Delay_5s/Objects/
TPM0_Delay_5s/RTE/
UART0_transmit/Listings/
UART0_transmit/Objects/
UART0_transmit/RTE/
TPM0_Delay_Prescaler/Listings/
TPM0_Delay_Prescaler/Objects/
TPM0_Delay_Prescaler/RTE/