*.lst
*.map
*.axf
*.htm
*.d
*.o
*.dep
*.crf
*.lnp
*.s
*.uvguix.skizo
*.uvoptx
*.ini
*.uvprojx
blinky_v1/Listings/
blinky_v1/Objects/
blinky_v1/RTE/
blinky_v2/Listings/
blinky_v2/Objects/
blinky_v2/RTE/
blinky_v3/Listings/
blinky_v3/Objects/
blinky_v3/RTE/
Debug/Listings/
Debug/Objects/
Debug/RTE/
Output_Compare/Listings/
Output_Compare/Objects/
Output_Compare/RTE/
Systick-Basic/Listings/
Systick-Basic/Objects/
Systick-Basic/RTE/
Systick-Delay/Listings/
Systick-Delay/Objects/
Systick-Delay/RTE/
Systick-stcurrent/Listings/
Systick-stcurrent/Objects/
Systick-stcurrent/RTE/
TPM0_Delay/Listings/
TPM0_Delay/Objects/
TPM0_Delay/RTE/
TPM0_Delay_5s/Listings/
TPM0_Delay_5s/Objects/
TPM0_Delay_5s/RTE/
UART0_transmit/Listings/
UART0_transmit/Objects/
UART0_transmit/RTE/
TPM0_Delay_Prescaler/Listings/
TPM0_Delay_Prescaler/Objects/
TPM0_Delay_Prescaler/RTE/
Both_edge_interrupt/Listings/
Both_edge_interrupt/Objects/
Both_edge_interrupt/RTE/
GPIO_Interrupt/Listings/
GPIO_Interrupt/Objects/
GPIO_Interrupt/RTE/
GPIO_Interrupt_2/Listings/
GPIO_Interrupt_2/Objects/
GPIO_Interrupt_2/RTE/
Input_Capture/Listings/
Input_Capture/Objects/
Input_Capture/RTE/
Read_Switch/Listings/
Read_Switch/Objects/
Read_Switch/RTE/
TPM1_Delay_Prescaler/
TPM1_Delay_Prescaler/
TPM1_Delay_Prescaler/
Timer_Interrupt/Listings/
Timer_Interrupt/Objects/
Timer_Interrupt/RTE/
UART0_Interrrupt/Listings/
UART0_Interrrupt/Objects/
UART0_Interrrupt/RTE/
UART0_receive/Listings/
UART0_receive/Objects/
UART0_receive/RTE/
